@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > main{
   flex-grow: 1;
}

html{
}
.page {
}

body{
   font-family: "Inter", sans-serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 15px;
   background-color: #d7e7e9;
}

[class*="__container"] {
	max-width: 1230px; /*1200px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.icon-sticky{
   background: url(../img/favicon2-icon.png) center / 100% no-repeat;
   width: 60px;
   height: 60px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 23;
}

/* ==============header========================= */

.header{
   text-align: center;
   padding: 20px;
   font-size: 18px;
}

/* ===============met-our======================= */

.met-our {
   padding: 61px 0px 102px 0px;
   background: #412672;
}

.met-our__title {
   color: #FFF;
   font-size: 38px;
   margin-bottom: 31px;
}

.met-our__title > span{
   font-weight: 700;
}

.met-our__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.item-met-our {
   display: flex;
   flex-direction: column;
   max-width: 386px;
   flex: 1 1 320px;
   padding: 20px;
   gap: 16px;
   background-color: white;
   transition: all 0.3s;
}
.item-met-our:hover {
   background: #FFBE48;
   box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.item-met-our__image {
   overflow: clip;
}
.item-met-our__image img{
   transition: 0.5s;
}
.item-met-our__image img:hover {
   transform: scale(1.05);
}
.item-met-our__image {
   display: flex;
   justify-content: center;
   align-items: center;
}

.item-met-our__title {
   display: inline-flex;
   color: #000;
   font-size: 22px;
   font-weight: 600;
   transition: all 0.3s;
}
.item-met-our__title:hover {
   color: #4b4b4b;
}

.item-met-our__text {
   color: #4F4F4F;
   font-size: 15px;
   line-height: 1.27;
   flex-grow: 1;
}

.item-met-our__link {
}
.item-met-our__link a {
   position: relative;
   color: #FE3F3F;
   transition: all 0.3s;
}

.item-met-our__link a::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -5px;
   width: 0%;
   height: 1px;
   background: #FE3F3F;
   text-underline-offset: 5px;
   transition: 0.2s;
}
.item-met-our__link a:hover::after {
   width: 100%;
}

/* =============advantages===================== */

.advantages {
   padding: 55px 0px 72px 0px;
   background-color: #FFF;
}

.advantages__container{
   max-width: 1574px;
   padding: 0px 15px;
}

.advantages__items {
   display: flex;
   justify-content: right;
   gap: 90px;
   flex-wrap: wrap;
}

.item-advantages--block{
   display: flex;
   justify-content: center;
   max-width: 515px;
   flex-direction: column;
   gap: 20px;
   padding: 98px 0px 67px 0px;
}

.item-advantages--slider{
   display: flex;
   align-items: center;
   flex: 1 1 550px;
   max-width: 764px;
}

.item-advantages--slider a{
   position: relative;
   overflow: clip;
}

.item-advantages--slider a::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   background-color: #00000018;
   transition: all 0.2s;
   opacity: 0;
   visibility: hidden;
}

.item-advantages--slider a:hover::before{
   opacity: 1;
   visibility: visible;
}

.item-advantages__title {
   color: #412672;
   font-size: 34px;
}

.item-advantages__title > strong {
   font-weight: 700;
}

.item-advantages__text {
   color: #412672;
   font-size: 22px;
}

.item-advantages__list {
   padding: 15px 0px;
   display: flex;
   gap: 20px;
   flex-direction: column;
}

.item-advantages__list > li{
   display: inline-flex;
   gap: 15px;
   align-items: center;
   color: #4F4F4F;
   font-size: 20px;
   line-height: 1.4;
}

.item-advantages__list > li::before{
   content: "";
   align-self: flex-start;
   flex-shrink: 0;
   width: 29px;
   height: 29px;
   gap: 15px;
   background: url(../img/advantages-icon.svg) center / 100% no-repeat;
}

/* ===========academy================== */

.academy {
   background-color: #412672;
   padding: 70px 0px;
   color: #FFF;
}

.academy__title {
   text-align: center;
   font-size: 24px;
   margin-bottom: 30px;
}
.academy__title > strong {
   font-weight: 700;
}

.academy__items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 20px;
}
.academy__item {
   display: flex;
   align-items: center;
   gap: 10px;
}
.academy__content {
}

.academy__text {
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 5px;
   text-align: center;
}

.academy__img{
   animation: academy 1.5s linear infinite alternate;
}
@keyframes academy{
   0%{
      transform: rotate(-5deg) scale(0.9);
   }
   100%{
      transform: rotate(5deg) scale(1.03);
   }
}
/* =========footer============= */

.footer__container {
   display: flex;
   justify-content: flex-end;
}

.footer__data {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: right;
   padding: 30px 20px;
   background-color: #d7e7e9;
   border-radius: 7px;
   font-size: 23px;
   font-weight: 600;
}
