
.wheel {
  position: absolute;
  top: -55px;
  left: -105px;
  z-index: 100;
  width: 93px;
  height: 93px;
  perspective: 100px;
  perspective-origin: center;
}
.wheel::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -11px;
  width: 112px;
  height: 73px;
  border-radius: 70% 65% 0% 0%/100% 80% 0% 0%;
  background-color: rgba(33, 33, 33, 0.951);
  box-shadow: 0px 0px 3px 0px;
}

.wheel .wheel__face--front {
  transform: translateZ(10px);
}
.wheel .wheel__face--back {
  transform: translateZ(-10px);
}
.wheel .wheel__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: repeating-linear-gradient(90deg, #222, #222 1px, #111 2px);
  transform: rotateX(90deg) translateZ(10px);
  opacity: 0.9;
}
.wheel__item {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 93px;
  height: 93px;
  border: solid 10px rgb(31, 31, 31);
  border-radius: 50%;
  transition: 3s;
  outline: 0.5px rgb(52, 52, 52) dashed;
  background: radial-gradient(circle, rgba(105, 91, 87, 0.71) 24%, rgba(129, 127, 128, 0.93) 59%);
  box-shadow: inset 0px 0px 10px 2px rgb(81, 80, 80);
  transition: 5s;
}
.wheel__inner-circle {
  position: absolute;
  top: -2%;
  left: 30%;
  width: 35%;
  height: 35%;
  transform: rotate(40deg);
  border: solid 4px rgba(37, 47, 47, 0.862745098);
  border-radius: 50% 50% 24% 76%/50% 80% 20% 50%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.9568627451), rgba(229, 229, 229, 0.2980392157));
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.437);
}
.wheel__inner-circle:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -16%;
  left: 100%;
  border-radius: 50%;
  z-index: 5555;
  width: 3px;
  height: 3px;
  background-color: rgb(238, 240, 211);
  box-shadow: 0px 0px 5px 0px rgb(226, 225, 186);
}
.wheel__inner-circle--02 {
  top: 26%;
  left: -2%;
  transform: rotate(-34deg);
}
.wheel__inner-circle--03 {
  top: 63%;
  left: 15%;
  transform: rotate(-102deg);
}
.wheel__inner-circle--04 {
  top: 58%;
  left: 57%;
  transform: rotate(183deg);
}
.wheel__inner-circle--05 {
  top: 20%;
  left: 65%;
  transform: rotate(114deg);
}
.wheel__inner-circle--centre {
  width: 16%;
  height: 16%;
  border-radius: 50%;
  border: 0;
  background: url(../img/Alfa.jpg) center/cover no-repeat;
  left: 42%;
  top: 42%;
  box-shadow: 0px 0px 10px 1px;
}

.wheel--left {
  transition: 3s;
}
.wheel--right {
  left: 307px;
}

.cars:hover .wheel__item {
  transform: rotate(-1440deg);
}

.cars:hover .wheel--left {
  transform: rotateY(-30deg) translateX(-10px);
  transition: 3s;
}

.cars:hover {
  transform: rotateY(-15deg) rotateZ(2deg) translate(-550px);
}

.cars:hover * {
  animation-play-state: paused;
}

/* =======================cars-3d================================ */

.cars-3d {
  margin-top: 520px;
  perspective: 1000px;
  position: relative;
  z-index: 3;
}

.cars {
  transform: translateZ(0px);
  position: relative;
  margin-left: 500px;
  perspective: 500px;
  transform-style: preserve-3d;
  max-width: 700px;
  height: 270px;
  transition: 5s;
}
.cars__inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.cars__body {
  position: absolute;
  z-index: 2;
  left: 30%;
  bottom: 20%;
  width: 300px;
  height: 3px;
  background-color: black;
  box-shadow: #222 44px 0px 12px 5px;
}
.cars__body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 370px;
  height: 192px;
  border-radius: 126% 100% 240% 0%/160% 20% 0% 0%;
  background: linear-gradient(316deg, rgb(143, 14, 14) 0%, rgb(230, 28, 54) 100%);
}
.cars::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 156px;
  right: 55px;
  width: 205px;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.3411764706);
}
/* =======================doors=================================== */
.doors {
  position: relative;
  z-index: 2;
  perspective: 1200px;
  transform-style: preserve-3d;
  width: 215px;
  height: 170px;
  transform: translate(12px, -180px);
  border-radius: 600% 0% 180% 510%/450% 420% 277% 0%;
  background: url(../img/111.png) 14px -5px/cover no-repeat;
}
.doors__3d {
  position: relative;
  z-index: 1;
  top: 60px;
  left: 2px;
  width: 215px;
  height: 110px;
  border: solid 1px #232323;
  border-radius: 80px 0px 55px 15px/50px 40px 150px 130px;
  background: linear-gradient(316deg, rgb(154, 25, 25) 40%, rgb(218, 28, 53) 100%);
  transform-origin: left bottom;
  transition: box-shadow 1s ease 1s;
  transition: 2s;
}
.doors__3d::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0px;
  width: 212px;
  transform: rotate(-2deg);
  height: 1px;
  background-color: rgba(34, 34, 34, 0.4862745098);
}
.doors__glass {
  position: absolute;
  z-index: 2;
  left: 29px;
  top: -61.5px;
  width: 185px;
  height: 70px;
  border-width: 2px 7px 9px 12px;
  border-style: solid;
  border-color: #232323;
  background-color: rgba(124, 119, 119, 0.597);
  border-radius: 180px 0px 100px 0px/75px 65px 8px 0px;
  transition: 1s;
}
.doors__glass::after {
  content: "";
  position: absolute;
  top: 24.5px;
  right: -34px;
  height: 14px;
  width: 66px;
  border-radius: 0px 80px 0px 30px;
  background-color: #232323;
  box-shadow: 0px 0px 33px 0px;
  transform: rotate(97deg);
}
.doors__decor {
  content: "";
  position: absolute;
  left: 167px;
  top: 18px;
  width: 40px;
  height: 5px;
  background: linear-gradient(to bottom, rgba(232, 232, 232, 0.8235294118), #cfcfcf);
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: rotate(-3deg);
}
.passenger-glass {
  position: absolute;
  top: -184px;
  right: -60px;
  z-index: 22343;
  border-radius: 35px 435px 44px 0px/100px 150px 88px 100px;
  border: solid #232323;
  border-width: 5px 5px 5px 15px;
  transform: rotate(-3deg);
  width: 140px;
  height: 65px;
  background: linear-gradient(215deg, rgba(0, 7, 17, 0.793) 0%, rgba(150, 150, 153, 0.993) 100%, rgb(66, 253, 45) 100%);
}

.passenger-glass::before {
  content: "";
  position: absolute;
  top: 21px;
  left: -30px;
  transform: rotate(99deg);
  border-radius: 2px;
  border-bottom: solid 1px #474444;
  width: 64px;
  height: 13px;
  background-color: #232323;
}

.doors:hover .doors__3d {
  transform: rotate3d(0, 2, 0, -60deg);
  box-shadow: 0px 2px 17px 0px;
  transition: 1s;
}

/* ====================left-hand-body========================= */

.left-hand-body__face {
  position: relative;
  z-index: 1;
  width: 220px;
  height: 126px;
  background: linear-gradient(77deg, rgb(143, 14, 14) 0%, rgb(230, 28, 54) 100%);
  border-radius: 240px 5px 112px 35px/70px 0px 0px 50px;
  left: 30px;
  top: 90px;
  transform: rotate(0deg);
  box-shadow: #222 17px 20px 16px -15px;
}
.left-hand-body__headlight {
  position: absolute;
  bottom: 59px;
  left: 1px;
  width: 27px;
  height: 20px;
  border-radius: 65px 22px 22px 63px/50px 50px 0px 4px;
  background: radial-gradient(circle at 30% 30%, rgba(187, 182, 182, 0.9), transparent 60%), radial-gradient(circle at 70% 70%, rgba(124, 124, 128, 0.3), transparent 70%), linear-gradient(135deg, rgba(35, 35, 15, 0.503), rgba(80, 80, 80, 0.3));
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 200, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 2px 3px 0px rgb(42, 36, 36);
  animation-name: alarm-signal;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.left-hand-body__headlight::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 28px;
  width: 57px;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.5215686275);
  transform: rotate(-1deg);
}
.left-hand-body__headlight::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 1px;
  width: 12px;
  height: 20px;
  border-left: solid #5d2626 5px;
  border-radius: 4px 14px 15px 12px;
  box-shadow: rgb(68, 35, 29) inset -4px 0px 3px 0px;
  transform: rotate(-1deg);
  transform: rotate(-10deg);
}
.left-hand-body__decor {
  position: relative;
  z-index: 22;
  top: 35px;
  border-top: solid 2px rgba(68, 29, 29, 0.275);
  border-radius: 60% 0% 0% 0%;
  left: 30px;
  width: 160px;
  height: 20px;
  transform: rotate(-4deg);
}
.left-hand-body__decor::before {
  content: "";
  position: absolute;
  right: 5px;
  top: 6px;
  border-radius: 6% 100% 122% 200%;
  width: 20px;
  height: 4px;
  background: linear-gradient(to bottom, rgba(215, 211, 197, 0.8235294118), #e1e0d2);
  animation-name: alarm-signal;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* ===========right-hand-body==================== */


.right-hand-body__face {
  position: absolute;
  right: 60px;
  top: 30px;
  border-radius: 0px 500px 292px 0px/0px 733px 17px 0px;
  width: 70px;
  height: 110px;
  background: linear-gradient(84deg, rgb(143, 14, 14) -21%, rgb(230, 28, 54) 146%);
  transform: rotate(-10deg);
}
.right-hand-body__face::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -10px;
  width: 30px;
  height: 2px;
  background-color: #222;
}
.right-hand-body__headlight {
  position: relative;
  left: 40px;
  top: 66px;
  height: 22px;
  width: 30px;
  border-width: 2px 0px 2px 5px;
  border-color: rgba(49, 49, 49, 0.6901960784);
  border-style: solid;
  border-radius: 90% 173% 0% 186%;
  transform: rotate(0deg);
  background: radial-gradient(circle at 30% 30%, rgba(255, 90, 90, 0.8), transparent 60%), radial-gradient(circle at 70% 70%, rgba(223, 7, 7, 0.3), transparent 70%), linear-gradient(135deg, rgba(90, 0, 0, 0.3), rgba(20, 0, 0, 0.6));
  box-shadow: inset 0 0 10px rgba(148, 5, 5, 0.6), 0 0 6px rgba(255, 50, 50, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.2);
  animation-name: alarm-signal;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.right-hand-body__bumper {
  position: absolute;
  bottom: -67px;
  left: 0px;
  width: 75px;
  height: 70px;
  border-radius: 0px 29px 73px 46px/0px 31px 140px 25px;
  background: linear-gradient(180deg, rgb(143, 14, 14) 0%, rgb(230, 28, 54) 100%);
}

@keyframes alarm-signal {
  100% {
    background: linear-gradient(to bottom, rgba(215, 211, 197, 0.8235294118), rgba(238, 238, 40, 0.4352941176));
    box-shadow: -4px 0px 10px 1px rgba(184, 163, 25, 0.844);
  }
}