
@import url('https://fonts.googleapis.com/css2?family=Carme:wght@400&display=swap');
@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}

html{
   scroll-behavior: smooth;
}

.page {
}

body{
   font-family: "KoPubBatang-Regular", serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 14px;
   background-color: #efefef;
}

[class*="__container"] {
	max-width: 1230px; /*1200px + 30px */
	margin: 0 auto;
	padding-left: 15px;
   padding-right: 15px;
}

.icon-sticky{
   background: url(../img/favicon2-icon.png) center / 60px no-repeat;
   width: 60px;
   height: 60px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 23;
}

/* ==============header========================= */

.header{
   font-family:"Carme", serif;
   font-weight: 400;
}
/* ============================== */

.flower-catalog {
   background: #F8F3EC;
   padding: 89px 0px 100px 0px;
}
.flower-catalog__container {
   display: flex;
   gap: 28px;
}
.flower-catalog__items:first-child{
   flex: 1 1 56%;
} 

.flower-catalog__title {
   padding-top: 52px;
   padding-bottom: 65px;
   color: #000;
   font-family: "KoPubBatang-Light";
   font-size: 60px;
   font-weight: 300;
}

.flower-catalog__list-flex {
   margin-bottom: 50px;
}

.flower-catalog__list-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(370px,1fr));
	grid-auto-rows: 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}

.flower-catalog__item {
   display: inline-flex;
   flex-direction: column;
   gap: 14px;
   padding: 7px 0;
}

.flower-catalog__img-link {
   align-content: center;
   align-items: center;
   text-align: center;
   font-size: 32px;
   font-weight: 700;
   color: rgb(0, 0, 0);
   font-family: "KoPubBatang-Regular", serif;
   background: url(../img/off-photo.webp) center / 100% no-repeat;
   aspect-ratio: 374 / 378;
   overflow: hidden;
   
}

.flower-catalog__img-link img {
   width: 100%;
   height: 100%;
   aspect-ratio: 374 / 378;
   object-fit: cover;
   
}
.flower-catalog__img-link img{
   aspect-ratio: 401 / 427;
   transition: scale 0.3s;
}

.info-price {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
}

.info-price__title-link {
   transition: all 0.3s;
}
.info-price__link:hover {
   text-decoration: underline;
   text-underline-offset: 3px;
}

.info-price__like {
   padding-right: 18.73px;
}

.info-price__basket {
}

.flower-catalog__link-price{
   align-self: flex-start;
   color: #4E4E4E;
   font-family:"Carme", serif;
   font-weight: 400;
   font-size: 18px;
   transition: all 0.3s;
}
.flower-catalog__link-price:hover{
   text-decoration: underline;
   text-underline-offset: 3px;
}

/* =============open-more=================== */

.flower-catalog__link-open-more{
   min-width: 203px;
   min-height: 62px; 
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: #2C2C2C;
   font-family: "KoPubBatang-Regular", serif;
   font-size: 17px;
   line-height: 1.37;
   background: #F8F3EC;
   border: 1px solid #DBCCBA;
   padding: 0px 10px;
   transition: all 0.4s;
}
.flower-catalog__link-open-more span{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 9px 30px;
   gap: 10px;
   background-color: #DBCCBA;
   transition: all 0.4s;
   overflow: hidden;
}
.flower-catalog__link-open-more span::after{
   content: "";
   width: 23px;
   height: 14px;
   background: url(../img/flower/arrow.svg) center no-repeat; 
}

.flower-catalog__link-open-more span:active{
   padding: 10px 30px;
   background-color: #DBCCBA;
   box-shadow:inset 0px 0px 2px 0px;
   gap: 15px;
}
@media (any-hover: hover) {
   .flower-catalog__img-link:hover img{
   scale: 1.03;
}
   .flower-catalog__link-open-more:hover span{
   padding: 10px 30px;
   background-color: #dbccbad1;
   box-shadow: 0px 0px 2px 0px;
   border-radius: 0px 20px 20px 0px;
   gap: 15px;
}
.flower-catalog__link-open-more:hover{
   border-radius: 0px 30px 30px 0px;
}
}
/* =========media================ */

@media (max-width: 1150px){
   .flower-catalog {
   padding: 25px 0px 35px 0px;
}
.flower-catalog__container {
flex-direction: column-reverse;
}
.flower-catalog__list-flex{
   display:flex;
   margin-bottom: 40px;
   gap: 30px;
}
.flower-catalog__list-flex li{
   flex: 1 1 50%;
   align-self: flex-start;
}
   .flower-catalog__list-grid {
   padding: 0px 30px;
}
.flower-catalog__list-flex{
   padding: 0px 30px;
}
.flower-catalog__title {
   padding: 42px 23px;
   font-size: 55px;
   font-weight: 300;
}
}

@media (max-width: 900px){
      .flower-catalog {
   padding: 25px 0px 35px 0px;
}
.flower-catalog__title {
   padding: 42px 20px;
   font-size: 50px;
   font-weight: 300;
}
   .flower-catalog__list-grid {
   padding: 0px 20px;
}
.flower-catalog__list-flex{
   padding: 0px 20px;
}
}
@media (max-width: 700px){
.flower-catalog__title {
   font-size: 40px;
   font-weight: 300;
   padding: 30px 20px;
}
.flower-catalog__list-flex{
   margin-bottom: 30px;
}
}
@media (max-width: 500px){
.flower-catalog {
   padding: 20px 0px 20px 0px;
}
   .flower-catalog__list-grid {
   grid-template-columns: 1fr;
   padding: 0px 32px;
}

.flower-catalog__img-link img {
   aspect-ratio: 301 / 376;
}

.flower-catalog__list-flex{
   flex-wrap: wrap;
   padding: 0px 32px;
}
.icon-sticky{
   display: none;
}
}

@media (max-width: 380px){
   .flower-catalog__list-grid {
   padding: 0px 16px;
}
.flower-catalog__list-flex{
   padding: 0px 16px;
}
.flower-catalog__title {
   font-size:25px;
   padding: 20px 16px;
}
}
/* =========footer============= */

.footer {
}

.footer__data {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: right;
   padding: 30px 70px;
   border-radius: 7px;
   font-size: 23px;
}