@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}

html{
   scroll-behavior: smooth;
}

.page {
}

body{
   font-family: "Poppins", sans-serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 14px;
   background-color: #252722;
}

[class*="__container"] {
	max-width: 1350px; /*1320px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.icon-sticky{
   background: url(../img/favicon2-icon.png) center / 67px no-repeat;
   width: 67px;
   height: 67px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 23;
}

/* ==============header========================= */
.header{
   display: flex;
   justify-content: center;
   gap: 10px;
   width: 100%;
   z-index: 100;
   color: white;
   background: url(../img/fon-header.jpg);
}
.header > p {
   padding: 10px 0px;
   align-self: flex-end;
}
.header__title{
   font-size: 24px;
   font-weight: 600;
   padding: 30px 0px;
   letter-spacing: 5px;

}
/* ============products=================== */

.products {
   background-color: #fff;
   padding: 30px 0px;
}

.products__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}

.products__title {
   color: #1A1A1A;
   font-size: 32px;
   font-weight: 600;
}

.products__link {
   position: relative;
   color: #00B207;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}

.products__link::after{
   content: "";
   background: url(../img/arrow.svg) center no-repeat;
   margin-left: 12px;
   width: 16px;
   height: 12px;
}

.products__link::before{
   content: "";
   position: absolute;
   bottom: 0;
   height: 0;
   width: 0%;
   height: 1px;
   background-color: #00B207;
   transition: all 0.3s;
}

/* =================item-product============================ */

.products__items {
   display: flex;
   padding: 32px 0px 30px 0px;
   flex-wrap: wrap;
}

.item-product {
   display: flex;
   flex-direction: column;
   position: relative;
   margin: 0 -1px -1px 0;
   border: 1px solid #E6E6E6;
   flex: 0 1 calc(20% + 1px);
   transition: all 0.5s;
}

.item-product__link-img {
   padding: 5px;
   width: 100%;
   text-align: center;
   aspect-ratio: 254 / 230;
}

.item-product__img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.item-product__content {
   display: flex;
   gap: 17px;
   flex-grow: 1;
   justify-content: space-between;
   align-items: center;
   padding: 12px;
}
.item-product__description{
   display: flex;
   flex-direction: column;
   height: 100%;
}

.item-product__title {
   color: #4D4D4D;
   line-height: 1.5;
   flex-grow: 1;
}

.item-product__link {
   color: #4D4D4D;
   line-height: 1.5;
   transition: all 0.3s;
}

.item-product__price {
   color:#1A1A1A;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   margin-bottom: 6px;
}

.item-product__price span{
   color: #999;
   font-weight: 400;
   text-decoration: line-through;
}

.item-product__rating {
}

.item-product__label{
   position: absolute;
   color: white;
   font-size: 14px;
   padding: 3px 8px;
   top: 16px;
   left: 16px;
   border-radius: 4px;
   background: #EA4B48;
   z-index: 3;
}

.item-product__like{
   position: absolute;
   top: 20px;
   right: 12px;
   width: 42px;
   height: 40px;
   fill: #ffffff;
   color: black;
   border: solid 1px #F2F2F2;
   background-color: white;
   padding: 10px;
   border-radius: 50%;
   visibility: hidden;
   opacity: 0;
   z-index: 3;
}
.item-product__like svg{
   width: 100%;
   height: 100%;
}
.item-product__eye {
   position: absolute;
   width: 42px;
   height: 42px;
   top: 68px;
   right: 12px;
   fill: #ffffff;
   color: black;
   border: solid 1px #F2F2F2;
   background-color: white;
   padding: 10px;
   border-radius: 50%;
   visibility: hidden;
   opacity: 0;
   z-index: 3;
}
.item-product__eye svg{
   width: 100%;
   height: 100%;
}

   .item-product:hover .item-product__like, 
   .item-product:hover .item-product__eye{
      visibility: visible;
      opacity: 1;
   }

.item-product__basket{
   flex-shrink: 0;
   align-self: flex-end;
   transform: translateY( -12px);
   cursor: pointer;
   width: 42px;
   height: 42px;
   border: solid 1px #F2F2F2;
   background-color: #F2F2F2;
   color: black;
   fill: white;
   border-radius: 50%;
   overflow: hidden;
   transition: all 0.3s;
   padding: 8px 10px 10px 10px;
}
.item-product__basket svg{
   width: 100%;
   height: 100%;
}

.item-product__like:active{
   background-color: #ffffff;
   border: solid 1px #F2F2F2;
   fill: #00B207;
   stroke: white;
   box-shadow: 0px 0px 12px 0px #F2F2F2;
}

@media (max-width: 1250px){
   .item-product{
      flex: 0 1 calc(25% + 1px);
   }
}
@media (max-width: 1000px){
   .item-product{
      flex: 0 1 calc(33.33% + 1px);
   }
   .products {
      
}
.products__items {
   padding: 25px 0px 10px 0px;
}
}

@media (max-width: 667.98px){
   .products__title {
   font-size: 25px;
}

.item-product__basket{
      fill: #00B207;
      background-color: #00B207;
      color: white;
   }

   .item-product{
      flex: 0 1 calc(50% + 1px);
   }

   .item-product__eye,
   .item-product__like{
      visibility: visible;
      opacity: 1;
      background-color: transparent;
   }
}

@media (max-width: 520px){
   .item-product{
      flex: 0 1 calc(50% + 1px);
   }
   .item-product__content {
   flex-direction: column;
   gap: 10px;
}
}

@media (max-width: 340px){
   .item-product{
      flex: 0 1 calc(100% + 1px);
   }
   .item-product__content {
   flex-direction: row;
   gap: 0px;
}
.item-product__content{
   padding: 10px 5px;
}
}

@media (max-width: 520px) and (min-width: 340px){
   .item-product__basket{
   align-self: auto;
   transform: translate(0, 0);
}
}

/* =================hover========================== */

@media (any-hover: hover){
   .item-product:hover{
   border: 1px solid #2C742F;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   z-index: 2;
}
   .products__link:hover::before{
   width: 100%;
   }
   .item-product__link:hover{
      color: #2C742F;
   }

   .item-product__like:hover,
   .item-product__eye:hover{
   transition: all 0.5s;
   background-color: #00B207;
   fill: #00B207;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
   color: white;
   }

   .item-product__basket:hover{
      background-color: #2C742F !important;
      fill: #2C742F !important;
      border: 1px solid #2C742F;
   }

   .item-product:hover .item-product__basket{
   background-color: #00B207;
   fill: #00B207;
   color: white;
}
}

/* =============latest News===================== */

.news {
   background-color: #fff;
   padding-bottom: 60px;
}

.news__title {
   margin-bottom: 32px;
   color:  #1A1A1A;
   text-align: center;
   font-size: 32px;
   font-weight: 600;
}

.news__items {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}

.news__item {
   display: flex;
   flex-direction: column;
   flex: 0 1 calc(33.33% - 16px);
   border-radius: 0px 0px 8px 8px;
   border: 1px solid #E6E6E6;
   transition: box-shadow 0.3s;
}

.news__images-link{
   width: 100%;
   aspect-ratio: 424 / 324;
   text-align: center;
   overflow: clip;
   position: relative;
   border-radius: 8px 8px 0px 0px;
   background-color: rgb(237, 235, 235);
}

.news__images-link img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: scale 0.3s;
}
@media (any-hover: hover){
   .news__item:hover{
   box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.08);
}
.news__images-link:hover img{
   scale: 1.05;
}
}
/* ===========calendar======================= */

.news__images-calendar {
   position: absolute;
   bottom: 24px;
   left: 24px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 58px;
   height: 58px;
   border-radius: 4px;
   background: rgba(255, 255, 255, 0.85);
}
.news__images-calendar span:first-child{
   color:  #1A1A1A;
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.5;
}
.news__images-calendar span:last-child{
   color: #808080;
   font-size: 12px;
   font-weight: 500;
   letter-spacing: 0.36px;
   text-transform: uppercase;
}
/* =============news__content=================== */


.news__content {
   padding: 24px;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.content-top {
   display: inline-flex;
   gap: 16px;
   line-height: 1.5;
   color: #4D4D4D;
   margin-bottom: 8px;
}

.content-top__food::before {
   vertical-align: middle;
   margin-right: 4px;
   content: "";
   background: url(../img/news-icon-01.svg) center no-repeat;
   width: 20px;
   height: 20px;
}

.content-top__by-admin::before {
   vertical-align: middle;
   margin-right: 4px;
   content: "";
   background: url(../img/news-icon-02.svg) center no-repeat;
   width: 20px;
   height: 20px;
}

.content-top__comments {
   color: #666;
}
.top-content__comments::before {
   vertical-align: middle;
   margin-right: 4px;
   content: "";
   background: url(../img/news-icon-03.svg) center no-repeat;
   width: 18px;
   height: 18px;
}

.news__text {
   flex-grow: 1;
   color: #1A1A1A;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.5;
   transition: color 0.3s;
   margin-bottom: 20px;
}

.news__link {
   align-self: start;
   color: #00B207;
   font-size: 16px;
   font-weight: 600;
   position: relative;
}
.news__link::after{
   content: "";
   margin-left: 16px;
   background: url(../img/arrow.svg) center no-repeat;
   width: 15px;
   height: 12px;
}
.news__link::before{
   position: absolute;
   left: 0;
   bottom: -3px;
   content: "";
   width: 0%;
   height: 1px;
   background-color: #00B207;
   transition: width 0.3s;
}

@media (any-hover: hover){
   .news__item:hover .news__text{
   color: #2C742F;
}
.news__link:hover::before {
   width: 100%;
}
}
/* ============================= */

@media (max-width: 1200px){
.news__item {
   flex: 0 1 calc(50% - 16px);
}
}
@media (max-width: 667.98px){
.news__item {
   flex: 0 1 calc(100% - 16px);
}
.news__title{
   font-size: 25px;
}
.news {
   padding-bottom: 30px;
}

.icon-sticky{
   display: none;
}
}

/* =========footer============= */

.footer {
}

.footer__data {
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: right;
   padding: 30px 50px;
   border-radius: 7px;
   font-size: 23px;
}