
@import url('https://fonts.googleapis.com/css2?family=Carme:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("fonts.css");
@import url("reset.css");
@import url("ecobazar.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}

html{
   scroll-behavior: smooth;
}

.page {
}

body{
   font-family: "KoPubBatang-Regular", serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 14px;
   background-color: #efefef;
}

[class*="__container"] {
	max-width: 1230px; /*1200px + 30px */
	margin: 0 auto;
	padding-left: 15px;
   padding-right: 15px;
}

.icon-sticky{
   background: url(../img/favicon2-icon.png) center / 60px no-repeat;
   width: 60px;
   height: 60px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 23;
}

/* ==============header========================= */

.header{
   font-family:"Carme", serif;
   font-weight: 400;
}

/* ============================== */

.flower-catalog {
   background: #F8F3EC;
   padding: 89px 0px 100px 0px;
}

.flower-catalog__container {
}

.flower-catalog__list-grid {
   display: grid;
   grid-template-columns: 33.33% auto auto;
   grid-auto-rows: auto;
   column-gap: 28px;
}

.flower-catalog__list-grid .flower-catalog__item{
   grid-row: span 2;
}
.flower-catalog__list-grid .flower-catalog__title{
   padding-top: 52px;
   padding-bottom: 57px;
   color: #000;
   font-family: "KoPubBatang-Light";
   font-size: 60px;
   font-weight: 300;
   grid-column: span 2;
   grid-row: span 1;
}

.flower-catalog__list-grid .flower-catalog__link{
   padding-top: 50px;
   padding-bottom: 20px;
   grid-row-start: span 5;
}

.flower-catalog__item {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
   grid-template-rows: auto 1fr auto;
   align-self: self-start;
   padding-bottom: 10px;
}

.flower-catalog__img-link {
   align-content: center;
   align-items: center;
   text-align: center;
   font-size: 32px;
   font-weight: 700;
   color: #000000;
   font-family: "KoPubBatang-Regular", serif;
   background: url(../img/off-photo.png) center / 70% no-repeat;background-color: rgba(230, 230, 230, 0.785);
   aspect-ratio: 370 / 380;
   overflow: hidden;
}

.flower-catalog__img-link img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: scale 0.3s;
}

.flower-catalog__img-link--height{
   aspect-ratio: 401 / 427;
}

.info-price {
   padding-top: 5px;
   display: grid;
   grid-template-columns: 1fr auto auto;
   align-items: center;
   color: #2C2C2C;
   font-family: "KoPubBatang-Regular", serif;
   font-size: 20px;
   gap: 5px;
   line-height: 1.1;
}

.info-price__title-link {
   transition: all 0.3s;
}
.info-price__link:hover {
   text-decoration: underline;
   text-underline-offset: 5px;
}

.info-price__like,
.info-price__basket{
   transition: 0.4s;
   border:#dbccba00 solid 2px;
   border-radius: 50%;
   padding: 5px;
}
.info-price__like:hover,
.info-price__basket:hover {
   border: #DBCCBA solid 2px;
}

.flower-catalog__link-price{
   justify-self: start;
   color: #4E4E4E;
   font-family:"Carme", serif;
   font-weight: 400;
   font-size: 18px;
   transition: all 0.3s;
}


.flower-catalog__link-price:hover{
   text-decoration: underline;
   text-underline-offset: 3px;
}

/* =============open-more=================== */

.flower-catalog__link-open-more{
   max-height: 62px;
   padding: 10px;
   color: #2C2C2C;
   font-family: "KoPubBatang-Regular", serif;
   font-size: 17px;
   line-height: 1.37;
   transition: all 0.4s;
   border: solid 1px #DBCCBA;
}

.flower-catalog__link-open-more span{
   display: inline-grid;
   grid-template-columns: auto 20.5px;
   justify-content: center;
   gap: 10px;
   align-items: center;
   padding: 9px 30px;
   background: #DBCCBA;
}

.flower-catalog__link-open-more span::after{
   content: "";
   width: 23px;
   height: 14px;
   background: url(../img/flower/arrow.svg) center no-repeat;
}
/* =============hover=================== */
@media (any-hover: hover) {
   .flower-catalog__img-link:hover img{
   scale: 1.03;
}
.flower-catalog__link-open-more:hover{
   box-shadow: inset 0px 0px 3px 0px;
}
}
/* =========media================ */

@media (max-width: 1200px){
.flower-catalog__list-grid .flower-catalog__title {
   font-size: 55px;
}
}
@media (max-width: 1070px){
.flower-catalog__list-grid .flower-catalog__title {
   font-size: 45px;
}
}

@media (max-width: 900px){
   .flower-catalog {
   padding: 25px 0px 35px 0px;
}
.flower-catalog__list-grid .flower-catalog__title{
   padding-top: 32px;
   padding-bottom: 30px;
}
   .flower-catalog__list-grid {
   padding: 0px 30px;
   grid-template-columns: auto auto;
   grid-template-rows: auto;
   gap: 28px;
}
.flower-catalog__list-grid .flower-catalog__item{
   grid-row: span 1;
}
.flower-catalog__list-grid .flower-catalog__item:nth-child(1){
   grid-row-start: 3;
}
.flower-catalog__list-grid .flower-catalog__item:last-child{
   grid-row-start: auto;
}
}

@media (max-width: 740px){
.flower-catalog__list-grid {
   padding: 0px 10px;
}
.flower-catalog__list-grid .flower-catalog__title {
   font-size: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
}
}
@media (max-width: 640px){
.flower-catalog__list-grid .flower-catalog__title {
   font-size: 35px;
}
}

@media (max-width: 520px){
.flower-catalog__list-grid {
   padding: 0px 30px;
   grid-template-columns: 100%;
   grid-template-rows: auto;
   padding: 0px 33px;
}
.flower-catalog {
   padding: 20px 0px 20px 0px;
}
.flower-catalog__list-grid .flower-catalog__title {
   font-size: 30px;
   grid-column: span 1;
}
.flower-catalog__img-link {
   aspect-ratio: 300 / 376;
}
.flower-catalog__list-grid .flower-catalog__link{
   padding-top: 20px;
}
.flower-catalog__link-open-more{
   display: grid;
}
.icon-sticky{
   display: none;
}
}

@media (max-width: 380px){
   .flower-catalog__list-grid {
   padding: 0px 16px;
}
}
/* =========footer============= */

.footer {
}

.footer__data {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: right;
   padding: 30px 70px;
   border-radius: 7px;
   font-size: 23px;
}