@import url(reset.css);

.header-block {
}
.list {
   color:rgba(48, 66, 207, 0.939)
}

.header-block span {
   color: blue;
}

.header-block .title-color {
   color: rgb(243, 230, 0);
}
.subtitle {
}

/* ================================= */

.block2-title {
   color: rgb(196, 0, 0);
}
.block2-subtitle {
   color: rgb(159, 1, 173);
}
/* ================================= */

.block4-title{
   color: rgb(196, 0, 0);
}

.block4 > p {
   color: rgb(4, 89, 4);
}
