
.header{
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 1.25rem 0px;
  color: white;
  height: 5.75rem;
}

.header__title{
  font-size: 1.5625rem;
  text-align: center;
  padding: .3125rem;
}

  .header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.header__list li {
  position: relative;
}

.header__list > li > a{
  display: inline-flex;
  justify-content: center;
  text-wrap: nowrap;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  position: relative;
  border-radius: 1.8rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.209);
  background-color: rgba(4, 4, 4, 0.231);
}

.header__list > li > a::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: .0625rem;
  background-color: rgb(171, 171, 213);
  box-shadow: 0px -4px 12px 1px rgb(55, 145, 162);
  transition: width 0.4s;
}

  @media (any-hover: hover), (pointer: fine){
.header__list > li > a:hover::after{
  width: 65%;
}
}
@media(max-width:43.75em){
.header__list {
  gap: .9375rem;
}
.header__list > li > a{
  padding: .9375rem .625rem;
  font-size: 1.0625rem;
}
}
  @media(max-width:31.25em){
.header__list {
  gap: .3125rem;
}
}