
.card-shop {
   font-size: 0;
}

.card-shop__items {
}

.card-shop__item {
   display: inline-block;
   margin-right: 24px;
   margin-bottom: 10px;
}

.card-shop__item:nth-child(6){
   margin-right: 0px;
}
.card-shop__item:nth-child(12){
   margin-right: 0px;
}
.card-shop__item:nth-child(18){
   margin-right: 0px;
}
.card-shop__item:nth-child(24){
   margin-right: 0px;
}

/* Знаю, що так не роблять. Для адаптиву не годиться,
   якщо дотримуватися такого розміру екрана,
   то все працює до 4-го ряду. (Експеримент!).
   Якщо використовувати :not(:last-child), то на наступному рядку все ламається )*/

.card-shop__link{
   width: 200px;
   height: 213px;
   padding: 32px 0px  24px 0px;
   border-radius: 6px;
   border: 1px solid #EDEDED;
   background:#FFF;
   text-align: center;
   transition: all 0.3s;
   overflow: auto;
   vertical-align: top;
}

.card-shop__link:hover{
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card-shop__img {
   width: 80px;
   height: 80px;
   margin-bottom: 20px;
}

.card-shop__title {
   margin-bottom: 6px;
   color: #1A1A1A;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.5;
}

.card-shop__text {
   color: #808080;
   line-height: 1.5;
   font-size: 14px;
}

/* ================================================== */

.slider-shop::before{
   content: "";
   border-radius: 50%;
   border: solid 1px #E6E6E6;
   width: 45px;
   height: 45px;
   background: url(../img/Aoorw-01.svg) center no-repeat;
   background-color: #ffffff;
   margin-left: -85px;
   margin-bottom: -132px;
}

.slider-shop::after{
   content: "";
   border-radius: 50%;
   border: solid 1px #E6E6E6;
   width: 45px;
   height: 45px;
   background: url(../img/Aoorw-02.svg) center no-repeat;
   background-color: #ffffff;
   margin-left: 1355px;
   margin-bottom: -132px;
}
