@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("reset.css");
@import url("shop.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.page {
}

body{
   font-family: "Poppins", sans-serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 14px;
}

[class*="__container"] {
	max-width: 1350px; /*1320px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.header{
   text-align: center;
   padding: 50px 0px;
   background: #EDF2EE;
}

.header > h1 {
   margin-bottom: 20px;
}

.header > h1::before {
   content: "";
   padding: 0px 100px;
   width: 64px;
   height: 64px;
   background: url(../img/icon-html-css.png) center / 64px 64px no-repeat;
}

.header > h1::after {
   content: "";
   padding: 0px 100px;
   width: 64px;
   height: 64px;
   background: url(../img/favicon2-icon.png) center / 64px 64px no-repeat;
}

.header > p {
   line-height: 1.5;
   font-size: 18px;
   padding-bottom: 20px;
}

.header > a {
   background-color:#00B207;
   border-radius: 10px;
   padding: 15px 10px;
   color: white;
   font-size: 18px;
   box-shadow: 0px 0px 7px 0px black;
   transition: all 0.3s;
}

.header > a:hover {
   background-color:#2C742F;
   color: white;
   font-size: 18px;
   box-shadow: 0px 4px 7px 1px black;
}
.header > a:active {
   box-shadow: 0px 0px 2px 1px black;
}


/* =====================ecobazar-info======================= */

.ecobazar-info {
}

.ecobazar-info {
   padding: 0px 0px 40px 0px;
   font-size: 0;
   margin: 0px -12px;
}

.info-card__item{
   display: inline-block;
   width: 25%;
   vertical-align: top;
   padding: 0px 12px;
}

.info-card__inner-link{
   display: block;
   text-align: center;
   padding: 40px 0px;
   overflow: clip;
   transition: all 0.3s;
}

.info-card__inner-link:hover{
   box-shadow: 0px -4px 0px 0px #00B207 inset;
} 

.info-card__img {
   margin-bottom: 16px;
   text-align: center;
}

.info-card__title {
   margin-bottom: 8px;
   color: #1A1A1A;
   text-align: center;
   font-size: 18px;
   font-weight: 600;
   line-height: 1.5;
}

.info-card__sub-title {
   color: #999;
   text-align: center;
   font-size: 14px;
   line-height: 1.5;
}

/* ============cards-header=========================== */

.cards-header {
   font-size: 0;
   margin-bottom: 40px;
}

.cards-header__title {
   color: #1A1A1A;
   font-size: 40px;
   font-weight: 600;
   line-height: 1.2;
}

.cards-header__buttom {
   margin-top: -35px;
   color: #00B207;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   text-align: right;
}

.cards-header__buttom > img {
   padding-left: 12px;
}

.cards-header__link {
   transition: all 0.3s;
}

.cards-header__link:hover {
   box-shadow: 0px 2px 0px 0px #00B207;
} 

/* ===========products=================== */

.products {
   max-width: 1920px;
   margin: 0 auto;
   padding: 40px 0px 60px 0px;
   background: url(../img/products-background.svg) left / 10% no-repeat;/* background-експеремент */
}

.products__items{
   font-size: 0;
   margin: 0px -24px;
}

.card-products {
}

.card-products__item {
   display: inline-block;
   vertical-align: top;
   padding: 0px 12px;
   padding-bottom: 20px;
}

.card-products__inner {
   border-radius: 8px;
   border: 1px solid  #E6E6E6;
   transition: all 0.3s;
}

.card-products__link-img{
   width:314px;
   height: 312px;
   text-align: center;

}

.card-products__discount{
}

.card-products__inner:hover{
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card-products__img {
   padding: 5px;
}

.card-products__content {
   padding: 16px;
   max-width: 312px;
   overflow: auto;
}

.content-products{
}

.content-products__title {
   color: #4D4D4D;
   font-size: 14px;
   line-height: 1.5; 
}

.content-products__title-link{
}

.content-products__pricу {
   color: #1A1A1A;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5; 
}

.content-products__pricу > p {
   margin-bottom: 6px;
}

.content-products__pricу > p > span {
   color: gray;
   text-decoration: line-through;
}

.content-products__basket  {
   background-color: #fff;
   text-align: right;
   margin-top: -37px;
}

.content-products__basket img {
   text-align: right;
   background: #F2F2F2;
   padding: 10px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transition: all 0.3s;
}

.content-products__basket img:hover  {
   background-color: #00B207;
   box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.content-products__rating {
   display: block;
}


/* =======shop============= */

.background-shop{
   background:linear-gradient(180deg, #F2F5F3 20.01%, #FFF 100%);
}

.shop{
   max-width: 1920px;
   margin: 0 auto;
   padding: 80px 0 70px 0;
   background: url(../img/categories-background.svg) right 80% / auto no-repeat;/* background-експеремент */
}

/* =========foode-store============== */

.foode-store {
   max-width: 1920px;
   margin: 0 auto;
    background:  /* background-експеремент */
   url(../img/backgroun-01.svg) -25% 5% / auto no-repeat,
   url(../img/backgroun-01-1.svg) 5% 95% / auto no-repeat,
   url(../img/backgroun-02.svg) 95% 35% / auto no-repeat;
}

.foode-store__body {
   font-size: 0;
   padding: 80px 0px;
}
.foode-store__gallery {
   display: inline-block;
}

.gallery-store {
   margin-right: 40px;
}

.gallery-store__img-1 {
   max-width: 276px;
   vertical-align: top;
   margin-right: 24px;
   border-radius: 8px;
}

.gallery-store__img-2 {
   max-width: 444px;
   border-radius: 8px;
}

.foode-store__content {
}

.content-store {
   display: inline-block;
   padding: 16px 0px;
   max-width: 535px;
   vertical-align: top;
}

.content-store__title {
   color: #1A1A1A;
   font-size: 40px;
   font-weight: 600;
   line-height: 1.2;
}

.content-store__box{
}

.content-store__sub-title {
   color: #1A1A1A;
   padding-left: 36px;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.5;
   margin-bottom: 10px;
}
.content-store__sub-title::before {
   content: "";
   display: block;
   margin-left: -36px;
   margin-bottom: -24px;
   width: 24px;
   height: 24px;
   background: url(../img/content-store-icon.svg) left / 24px 24px no-repeat;
}

.content-store__text {
   padding-left: 35px;
   color: #808080;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
}

.content-store__buttom > a{
   border-radius: 43px;
   background-color: #00B207;
   padding: 16px 40px;
   color:  #FFF;
   font-size: 16px;
   font-weight: 600;
   transition: all 0.3s;
}

.content-store__buttom > a:hover{
   background: #2C742F;
}

.content-store__buttom > a::after{
   content: "";
   width: 31px;
   height: 12px;
   background: url(../img/foode-store-buttom.svg) right no-repeat;
}

.content-store > :not(:last-child){
   margin-bottom: 26px;
}

/* ==============footer=========================== */

footer{
   padding: 40px 0px;
}

.footer-content{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 24px;
   padding: 30px;
   background: linear-gradient(180deg, #F2F5F3 20.01%, #FFF 100%);;
   border-radius: 25px 25px;
   color: #342e7c;
   box-shadow: 0px 0px 10px 1px black;
   transition: all 3s;
}

.footer-content > span{
   visibility:hidden;
   color: white;
}
.footer-content:hover > span{
   visibility: visible;
}

.footer-content:hover{
   color: #00B207;
}

.footer-content:hover{
   background: url(../img/ukraine.png) 50% center no-repeat;
   background-color: #00B207;
   padding-left: 770px;
}


