@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");
@import url("reset.css");

body{
   font-family: "Inter", sans-serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 16px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.container {
	max-width: 1760px; /*1730px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}
/* ============header=================== */
.header{
   padding: 100px 0px;
   text-align: center;
   background: url(../img/fon.svg)100% / cover;
   max-height: 500px;
} 

.header-list li{
   display: inline-block;
   background: #412672;
   font-weight: 700;
   letter-spacing: 10px;
   text-shadow: 2px 2px 7px  black;
   padding: 20px 30px;
   font-size:24px;
   color: rgb(255, 255, 255);
   border-radius: 10% 40%;
   margin-right: 20px;
   opacity: 0.9;
   transition: all 0.3s;
}
.header-list li:last-child{
   margin: 0;
}

.header-list li:hover{
   background: #ad99d3;
   color: rgb(87, 23, 23);
   box-shadow: 0px 3px 3px 1px black;
}
.header-list li:active{
   background: #544f5c;
   color: rgb(236, 145, 9);
   box-shadow: 0px 0px 0px 0px black;
}


/* =========meet-our============ */

.meet-our {
   padding: 102px 0px 61px 0px;
   background: #412672;
}
.meet-body {
   max-width:1200px ;
   margin: 0 auto;
}

.meet-title, .meet-subtitle {
   font-size: 38px;
   color:  #FFF;
}

.meet-subtitle {
   font-weight: 700;
   margin-bottom: 31px;
}

.meet-items {
   font-size: 0;
}

.meet-item{
   display: inline-block;
   margin-right: 20px;
   background-color: #FFF;
   padding: 20px;
   max-width: 32.2%;
   min-height: 476px;
   vertical-align: top;
   transition: all 0.3s ease;
}

.meet-item:hover{
   background-color: #FFBE48 ;
}

.meet-item-img{
   max-height: 266px;
   overflow: clip;
   /* margin-bottom: 16px; */
}

.meet-item-img img{
   width: 100%;
}

.meet-item-title {
   /* margin-bottom: 16px; */
   color: #000;
   font-size: 22px;
   font-weight: 600;
}

.meet-item-subtitle {
   /* margin-bottom: 16px; */
   color: #4F4F4F;
   font-size: 15px;
   line-height: 126.667%;
   min-height: 76px;
}

.meet-item-link a{
   color: #FE3F3F;
   font-size: 15px;
   line-height: 126.667%; 
   transition: all 03s;
}

.meet-item-link a:hover{
   text-decoration: underline;
   text-underline-offset: 4px;
}

.meet-item-link a:focus{
   color: #ae5252;
} 

.meet-item > :nth-last-of-type(2n + 1){
   margin-top: 16px;
}

.null{
   margin: 0px;
}

#try img{
   margin-top: -60px;   /* Краще звичайно зробити оптимізацію, або фото за розміром,
                          дизайнер зробив фото криво, вирішив зробити експеремент  :)  ....  */
}
/* ============best-faculty================= */

.best-faculty {
   padding: 153px 0px 139px 0px;
}

.best-faculty-body{
   max-width: 518px;
   margin: 0 auto;
}

.best-faculty-body > :nth-last-child(1){
   margin-top: 20px;
}
.best-faculty-body > :nth-last-child(2){
   margin-top: 20px;
}

.best-faculty-title {
   font-size: 34px;
   color: #412672;
}

.best-faculty-title span{
   font-weight: 700;
}

.best-faculty-subtitle {
   font-size: 22px;
   color: #412672;
}

.list li {
   color: #4F4F4F;
   font-size: 20px;
   line-height: 2.5;
}

.list li::before {
   content: "";
   display:inline-block;
   width: 29px;
   height: 50px;
   background:url(../img/icon.svg) left 39% / 29px 29px  no-repeat;
   margin-right: 15px;
   vertical-align: middle;
}

/* ===========game============ */

.container-games {
   margin: 0 auto;
   max-width: 1760px;
   padding: 0px 0px 100px  0px;
}

.games-title{
   margin-right: 250px;
   text-align: center;
   font-size: 40px;
   color: white;
   line-height: 2;
}

.games-title::before{
   display: inline-block;
   content: "";
   background: url(../img/icon-fame-01.png) left / 150px 150px no-repeat;
   width: 150px;
   height: 150px;
   margin-right: 100px;
   vertical-align: middle;
}

.games-body {
   width: 100%;
   min-height: 1100px;
   padding-top: 70px;
   background-image: url(../img/camping.jpg);
   background-position: center ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   outline: dashed hsla(0, 0%, 0%, 0.534) 20px;
   box-shadow: 0px 5px 40px 30px rgb(24, 9, 109);
   background-color: black;
   margin-inline: auto;
}

[class*="gs-"]{
   display:block;
   margin: 0 auto;
   background-color: wheat;
   box-shadow: 0px 5px 12px 5px rgb(71, 68, 4);
   color: #b635d0;
   cursor: crosshair;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s;
} 

.gs-0{
   display:block;
   margin: 0 auto;
   text-align: center;
   padding: 10px 7px;
   width: 70px;
   height: 40px; 
   opacity: 1;
   visibility: visible;
}

.gs-1{
   width: 30px;
   height: 150px;
}
.gs-2{
   width: 250px;
   height: 20px;
   margin-left: 645px;
}
.gs-3{
   height: 100px;
   width: 30px;
   margin-left: 645px;
}
.gs-4{
   width: 300px;
   height: 40px;
   margin-left: 375px;
}

.gs-4::before{
   margin-left: -200px;
   margin-top: -200px;
   content: "";
   width: 150px;
   height: 150px;
   background: url(../img/icon-game-02.png) center / 150px no-repeat;
}


.gs-5{
   width: 18px;
   height: 150px;
   margin-left: 375px;
}
.gs-6{
   height: 30px;
   width: 500px;
   margin-left: 375px;
}
.gs-7{
   height: 100px;
   width: 17px;
   margin-left: 860px;
}
.gs-8{
   width: 350px;
   height: 20px;
   margin-left: 860px;
}
.gs-9{
   height: 350px;
   width: 15px;
   margin-left: 1210px;
   margin-top: -350px;
}
.gs-10{
   width: 250px;
   height: 14px;
   margin-left: 1210px;
   margin-top: -350px;
}

.gs-10::before{
   margin-left: 50px;
   content: "";
   width: 150px;
   height: 150px;
   background:url(../img/icon-game-02.png) center / 150px no-repeat ;
}

.gs-11{
   width: 12px; 
   height: 200px;
   margin-left: 1450px;
}

.gs-11::after{
   content: "";
   margin-top: 150px;
   width: 150px;
   height: 150px;
   background: url(../img/finish.jpg);
   background-size: contain;
   background-repeat: no-repeat;
}

.games-body > *:hover + *,
.games-body > *:hover{
   opacity: 1;
   visibility: visible;
} 

/* =====footer=========== */

.footer {
   margin-top: 100px ;
   padding: 100px 0px;
   text-align: center;
   background-color: rgb(213, 212, 212);
}
.footer-link a {
   background: #412672;
   font-weight: 700;
   letter-spacing: 10px;
   text-shadow: 2px 5px 5px black;
   padding: 20px 30px;
   font-size:24px;
   color: rgb(255, 255, 255);
   border-radius: 10% 40%;
   opacity: 0.9;
   transition: all 0.3s;
}

.footer-link a:first-child{
   margin-right: 20px;
}

.target{
   display: inline-block;
   max-width: 320px;
   background: #412672;
   vertical-align: middle;
   margin-left: 50px;
   color: white;
   padding: 50px 10px;
   font-size: 18px;
   visibility: hidden;
}

.target:target{
   visibility: visible;
}

.footer-link a:hover{
   background: #ad99d3;
   color: rgb(52, 118, 130);
   box-shadow: 0px 3px 3px 1px black;
}

.footer-link a:active{
   background: #544f5c;
   color: rgb(236, 145, 9);
   box-shadow: 0px 0px 0px 0px black;
}

