@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

body{
   font-family: "Poppins", sans-serif;
   line-height: 1.2;
   font-weight: 500;
   font-size: 23px;
   background-image: url(../img/111.jpg); 
   background-size: 300px;
   background-position: center;
}

.container {
	max-width: 1130px; /*1100px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.picture-content > p > span{
   padding-left:20px;
}

.icon-img{
   width: 30px;
   height: 30px;
}

.picture-content{
   padding: 30px;
   background-color: rgba(194, 227, 219, 0.923);
   box-shadow: 0px 0px 30px 7px black;
}

.picture-content > p > img:hover {
   scale: 1.5;
   cursor: zoom-in;
}

.picture-content > p > span:hover {
   color: #c30707;
   text-decoration: underline;
   text-underline-offset: 7px ;
   text-decoration-color: rgb(89, 141, 9);
   cursor: pointer;
}

.picture-content *{
   transition: all 0.3s;
}

.fon{
   text-align: center;
   line-height: 1.8;
}

.img-boy img{
   border-radius: 27% 0%; /*26.93%;  150/557 */
}

.picture-content > p:nth-child(odd){
   color: #010176;
}

.picture-content > *:not(:last-child){
   margin-bottom: 30px;
}

.footer-content{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:#5fb544;
   text-align: right;
   padding: 30px;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 0px 0px 40px 40px ;
   box-shadow: 0px 0px 7px 7px black;
}
