@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}

html{
   scroll-behavior: smooth;
}

.page {
}

body{
   font-family: "Poppins", sans-serif;
   line-height: 1.2;
   font-weight: 400;
   font-size: 14px;
   background-color: #efefef;
}

[class*="__container"] {
	max-width: 1350px; /*1320px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.icon-sticky{
   background: url(../img/favicon2-icon.png) center / 60px no-repeat;
   opacity: 0.8;
   width: 60px;
   height: 60px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 23;
}

/* ==============header========================= */
.header{
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.header span{
   padding: 20px;
   font-size: 18px;
   font-weight: 600;
}
.header__link{
   padding: 5px 10px;
   font-size: 23px;
   border-radius: 6px;
   position: relative;
}

.header__link:hover::before{
   animation-play-state: paused;
   background-color: #e9efd8;
}

.header__link::before {
   content: "";
   position: absolute;
   inset: -3px;
   border: 2px dashed green;
   border-radius: 8px;
   z-index: -1;
   animation: dash-spin 2s linear alternate infinite ;
   background-color: white;
   transition: all 0.3s;
}

@keyframes dash-spin {
   0% {
      transform:translate(5%);
      border: 2px dashed rgb(156, 73, 177);
   }
   100% {
      transform: translate(-5%);
   }
}

/* ============switcher=============== */

.switcher {
   position: relative;
   width: 60px;
   height: 30px;
   border-radius: 15px;
   background-color: rgba(49, 107, 107, 0.571);
}
.switcher::before{
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgb(107, 186, 118);
   transition: all 0.3s;
   box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.651);
}

.switcher:has(input:checked)::before{
   left: 100%;
   transform: translate(-100%);
   background-color: rgba(255, 0, 0, 0.937);
}

.switcher:has(input:focus-visible){
   outline:  solid 2px rgb(22, 147, 26);
   outline-offset: 4px;
}

.switcher__input{
   width: 0;
   height: 0;
   opacity: 0;
}

body:has(.switcher__input:checked) {
   background-color: rgb(195, 205, 195);
}
/* ==========info-form=============== */

.info-form {

}
.info-form__title {
   font-size: 23px;
   font-weight: 600;
   text-align: center;
   padding: 30px;
}
.info-form__items {
   display: inline-flex;
   flex-direction: column;
   gap: 20px;
   padding: 30px 20px;
}
.list-item__title{
   font-size: 23px;
   text-align: center;
   color: red;
   text-transform: uppercase;
}

.list-item {
   padding: 15px 0px 20px 0px;
   border-radius: 10px;
   border: solid 1px green;
   font-size: 16px;
   letter-spacing: 1.1px;
   box-shadow: 0px 0px 5px 0px;
   padding-left: 20px;
}
.list-item li{
   margin-left: 25px;
   list-style: upper-roman;
}
.list-item a {
   color: rgb(197, 53, 53);
}
.list-item a:hover {
   text-decoration: underline;
   text-underline-offset: 5px;
   transition: all 0.3s;
}

.list-item h3{
   margin-bottom: 15px;
   padding-left: 30px;
   font-weight: 600;
}
.list-item li:not(:last-child){
   margin-bottom: 10px;
}
/* ===============form======================= */

.checkout {
   padding: 32px 0px 80px 0px;
   background-color: #FFF;
}
.billing-form{
   display: flex;
   gap: 24px;
   align-items: start;
}

.billing-information {
   flex: 1 1 872px;
   line-height: 1.5;
}

.billing-information__title{
   color: #1A1A1A;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 20px;
}

.billing-information__items {
   display: flex;
   gap: 16px;
}

.billing-information__item {
   flex: 1 1 280px;
   color: #1A1A1A;
}

.billing-information__label {
   margin-bottom: 8px;
   cursor: pointer;
}

.billing-information__label strong {
   color: #808080;
}

.billing-information__input {
   margin-bottom: 16px;
   height: 49px;
   padding: 0px 16px 0px 16px;
   border-radius: 6px;
   border: 1px solid #E6E6E6;
   font-size: 16px;
   line-height: 1.3;
}

.billing-information__input::placeholder{
   transition: all 0.5s;
}

.billing-information__select:focus,
.billing-information__textarea:focus,
.billing-information__input:focus{

   outline: solid 1px #00B207;
}

.billing-information__select-wrapper{
   position: relative;
}

.billing-information__select{
   width: 100%;
   height: 49px;
   padding: 0px 16px 0px 16px;
   border-radius: 6px;
   border: 1px solid #E6E6E6;
   background: #FFF;
   color: #999;
   font-size: 16px;
   line-height: 1.3;
   appearance: none;
}

.billing-information__select-wrapper::after {
   content: "";
   position: absolute;
   top: 50%;
   right: 16px;
   background: url(../img/arrow.svg) center no-repeat;
   width: 16px;
   height: 16px;
   transform: translateY(-50%);
   pointer-events: none;
   font-size: 14px;
   color: #333;
}

.billing-information__label--checkbox{
   margin: 0;
}

.billing-information__input-checkbox{
   opacity: 0;
   width: 0;
   height: 0;
   width: auto;
}
.billing-information__input-checkbox:checked + 
.billing-information__checkbox-label::before{
   background: url(../img/check.svg) center no-repeat;
}
.billing-information__label--checkbox{
   display: flex;
   gap: 6px;
}
.billing-information__checkbox-label{
   display: flex;
   gap: 6px;
   align-items: center;
}
.billing-information__input-checkbox:focus-visible + 
.billing-information__checkbox-label{
   outline: solid 1px #00B207;
   border-radius: 6px;
   outline-offset: 4px;
}

.billing-information__checkbox-label::before{
   content: "";
   width: 20px;
   height: 20px;
   border: solid 1px #CCCCCC;
   border-radius: 4px;
}

.billing-information__items--line{
   padding: 32px 0px;
}
.billing-information__line{
   width: 100%;
   height: 1px;
   background: #E6E6E6;
}

.billing-information__textarea{
   min-height: 100px;
   padding: 14px 0px 0px 16px;
   align-items: center;
   border-radius: 6px;
   border: 1px solid #E6E6E6;
   resize: vertical;
}
/* ==========Order Summery================= */

.order {
   flex: 1 1 424px;
   padding: 24px;
   border-radius: 8px;
   border: 1px solid #E6E6E6;
   background: #FFF;
   color: #1A1A1A;
   line-height: 1.5;
}

.order__img{
   width: 60px;
   height: 60px;
}
.order__title {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 12px;
}

.order__list {
   display: flex;
   gap: 6px;
   align-items: center;
}
.order__list:last-child{
   margin-bottom: 12px;
}

.order__link{
   transition: all 0.3s;
}
.order__link:hover{
   color: #00B207;
}
.order__link span{
   padding-left: 6px;
}
.order__label{
   flex-grow: 1;
}
.order__quantity{
   width: 60px;
   padding: 0px 12px;
   margin-left: -12px;
}
.order__quantity::placeholder{
   color: black;
}
.order__price {
   font-size: 14px;
   font-weight: 500;
}

.order__link:focus-visible, 
.order__quantity:focus-visible,
.payment-method__label:focus-visible
{
   outline: solid 1px #00B207;
   border-radius: 6px;
   outline-offset: -2px;
}

/* ==============total========================= */
.order__total-items {
}
.order__total-item {
   display: flex;
   align-items: center;
   padding: 12px 0px;
}
.item-total:not(:last-child) {
   border-bottom: solid 1px #E6E6E6;
}
.item-total--padding{
   padding: 12px 0px 0px 0px ;
}
.item-total__text {
   color: #4D4D4D;
   font-size: 16px;
   line-height: 1.5;
   flex-grow: 1;
}

.item-total__total-amount {
   color: #1A1A1A;
   font-weight: 500;
}
.item-total__total-amount--font-weight{
   font-size: 18px;
   font-weight: 600;
   line-height: 1.2;
   border-bottom: solid 0px #E6E6E6;
}
/* ===========payment-method=============== */

.payment-method {
   padding: 10px 0px;
}
.payment-method__title {
   color:  #1A1A1A;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
}

.payment-method__list {
}

.payment-method__radio{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.payment-method__label{
   display: flex;
   column-gap: 6px;
   cursor: pointer;
}

.payment-method__radio span{
   color: #4D4D4D;
   font-size: 14px;
}

.payment-method__input{
   opacity: 0;
   width: 0;
   height: 0;
   width: auto;
}

.payment-method__input:checked + .payment-method__label::before {
   background: radial-gradient(circle at center, #00B207 5px, #ffffff 6px);
}
.payment-method__input:focus-visible + .payment-method__label{
   outline: solid 1px #00B207;
   border-radius: 6px;
   outline-offset: 4px;
}

.payment-method__label::before{
   position: relative;
   content: "";
   flex-grow: 0;
   flex-shrink: 0;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: solid 2px #00B307;
}

.payment-method__radio--disabled span{
   color: #1A1A1A;
} 
.payment-method__label--disabled::before{
   border: solid 2px #CCCCCC;
}

/* ==============btn===================== */
.payment-method-btn{
   margin-top: 12px;
   width: 100%;
   padding: 16px 40px;
   border-radius: 43px;
   background: #00B207;
   font-size: 16px;
   font-weight: 600;
   color: #FFF;
   transition: all 0.3s;
}
.payment-method-btn:hover{
   background: #038207;
}
.payment-method-btn:focus-visible{
   outline: solid 2px #038207;
   outline-offset: 3px;
}
/* =========footer============= */

.footer {
}

.footer__data {
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: right;
   padding: 30px 100px;
   border-radius: 7px;
   font-size: 23px;
}