@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");
@import url("reset.css");

body{
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   line-height: normal;
   font-weight: 400;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.bazar-container {
	max-width: 678px; /* 678px + 30px */
	margin: 0 auto;
	padding: 0px 15px;
}

.header {
   margin: 30px auto;
   border: 5px dotted  rgb(68, 65, 65);
   text-align: center;
   font-size: 34px;
   background-color: gray;
   width: 200px;
   height: 200px;
   vertical-align:middle;
   border-radius: 50%;
   padding-top: 75px;
   color: #ffffff;
   opacity: 0.8;
   letter-spacing: 3px;
   text-shadow:2px 5px 10px black;
   box-shadow: 2px 7px 10px 0 black;
   transition: all 03s;
}

/* ====================експеремент=================== */

.header:hover{                          
   box-shadow: 5px 7px 10px 3px black;
   width: 250px;
   height: 250px;
   padding-top: 90px;
   font-size: 40px;
   letter-spacing: 7px;
   color: #00B207;
}

/* .page {
} */

.bazar {
   margin-top:32px;
   color: #808080;
   font-size: 14px;
   line-height: 1.5;
}

.bazar-title {
   margin-bottom: 25px;
}

.bazar-subtitle {
   margin-bottom: 20px;
}

.bazar-list {
   margin-bottom: 14px;
   background-image: url(../img/bazar-icon.svg);
   background-repeat: no-repeat;
   background-size: auto 20px;
   padding-left: 28px;
   min-height: 20px;
}

.list-bottom{
   margin-bottom: 20px;
}

.bazar-text {
}

.bazar-line{
   margin:80px 0px;
   width:100%;
   border: dashed 3px  #410505;
}

/* ==============hydra========================== */

.hydra {
   background: 
      url(../img/Vector-01.png) center 3% / auto 385px no-repeat,
      url(../img/Vector-02.png) center 70% / 1470px 225px no-repeat;
   background-color: #302C42;
}

.hydra-items{
   display:inline-block;
   padding-top: 100px;
   padding-bottom: 110px;
}

.hydra-container {
   max-width: 1302px;
   margin: 0 auto;
   padding: 0px 15px;
}

.hydra-img {
   display: inline-block;
   max-width: 524px;
   width: 100%;
   margin-right: 112px;
}

.hydra-img img{
   /* border-radius: 100px 240px; */
   border-radius: 19% 43%;   /* 100/524 */  /* 240/557 */
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
   transition: all 0.5s;
}

.hydra-img img:hover{
   scale: 1.03;
   border-radius: 14% 33%;
   box-shadow: 4px 7px 7px 5px rgba(0, 0, 0, 0.25);   /* експеремент */
}

.hydra-item{
   font-size: 0;
   display: inline-block;
   max-width: 630px;
   vertical-align: middle;
}

.hydra-title {
   color: #FFF;
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 5px;
}

.hydra-subtitle {
   margin-bottom: 42px;
   color: #fffffff2;
   font-size: 36px;
   font-weight: 300;
}

.hydra-text {
   margin-bottom: 28px;
   color: #FFF;
   font-size: 16px;
   font-weight: 400;
}

.hydra-button {
   width: 214px;
   text-align: center;
   padding: 17px 0px 17px 0px;
   border-radius: 40px;
   background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
   color: #343045;
   font-size: 12px;
   font-weight: 700;
   transition: all 0.3s;
}

.hydra-button:hover{
   box-shadow: 0px 3px 10px black; /* експеремент */
}

.hydra-button:active{
   box-shadow: 0 1px 2px black;
}

/* ================hydra-contact============================ */

.hydra-contact {
   background: #302C42;
   padding-bottom: 100px;
}

.hydra-contact-items {
   border-radius: 90px;
   padding: 0px 52px;
   background: radial-gradient(circle, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
   box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);

}

.hydra-contact-item {   
   font-size: 0;
   padding: 57px 0px 60px 70px;
   background-image: url(../img/hydra-Icon-01.svg);
   background-position: -3% center;
   background-size: 70px 70px;
   background-repeat: no-repeat;
   max-width: 385px;
   width: 100%;
   transition: all 0.3s;
}

.hydra-contact-link{
   min-height: 56px;
}

.item-tel{
   padding-left: 137.5px;
   background:
      url(../img/Vector-contact.svg) left no-repeat,
      url(..//img/hydra-Icon-02.svg) 12.5% center / 59px 59px no-repeat; 
}

.contact-mail{
   padding-left: 137.5px;
   background:
      url(../img/Vector-contact.svg) left no-repeat,
      url(..//img/hydra-Icon-03.svg) 12.5% center / 65px 65px no-repeat; 
}

.hydra-contact-title {
   color: #FFF;
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
}

.hydra-contact-text {
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
}

.hydra-contact-item:hover{
   scale: 1.02;
}

/* ===============footer=========================== */

.footer{
   min-height: 700px;
   background-image: url(../img/starry-sky.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position-y: 100px;
   padding: 200px 0;
   color: white;
   text-align: center;
   font-weight: 700;
   font-size:40px;
   letter-spacing: 10px;
   line-height: 2;
}

.arrow-top {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid rgb(250, 250, 250, 0.3);
   margin: 20px auto;
   transition: all 03s;
   font-size: 14px;
   white-space: nowrap;
   text-indent: 20px;
   cursor: pointer;
}

.decor{
   background: rgb(34,54,195);
   background: linear-gradient(0deg, rgba(34,54,195,0.7008890958727241) 34%, rgba(242,253,45,1) 100%);
   height: 70px;
   line-height: 1.8;
   box-shadow: 0px 7px 10px 0px black;
}

.arrow-top:hover{/* експеремент */
   border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 150px solid rgba(242,253,45,0.8) ;
}

